<div class="jumbotron container-fluid" style="margin-top: 50px;">
  <h1 class="display-3">Desaparecidos</h1>
  <br />

  <% if @people.empty? %>
    <div class="card col-md-6" style="padding: 20px;">
      <p class="lead">Não foram encotrados registros no banco de dados.</p>
    </div>
  <% end %>

  <% @people.each do |person| %>

    <div class="card col-md-2" style="padding: 0px; margin: 20px; margin-left: 50px;">
      <%= image_tag person.photo, class: "card-img-top", style: "max-width: 172px; max-height: 174px;display: block; margin: auto;" %>
      
      <div class="card-block" style="padding: 8px;">
        <h6 class="card-title" style="margin-bottom: 5px;"><%= truncate(person.name, length: 15) %></h6>
        
        <%= link_to 'Info', info_path(person.id) %> 
        /
        <%= link_to 'Editar', { action: :edit, id: person.id } %>
        /
        <%= link_to 'Exlcuir',  { action: :destroy, id: person.id }, method: :delete, data: { confirm: 'Está certo que deseja excluir esta pessoa?' } %>
      </div>
    </div>
  
  <% end %>

</div>
